.header {
  background-color: #2A2C2F;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 28px 0 0;
  max-width: 1184px;
  width: 92.5vw;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    width: 90.625vw;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    width: 93.75vw;
  }
}
@media screen and (max-width: 390px) {
  .header {
    padding-top: 16px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    width: 90vw;
  }
}

@media screen and (max-width: 280px) {
  .header {
    flex-direction: column;
  }
}
