.cover__overlay {
  background-color: rgba(42, 44, 47, .3);
  height: 0;
  padding-bottom: 62.5%;
  transition: background-color .6s;
}

.cover__overlay:hover{
  background-color: rgba(42, 44, 47, .8);
}

