.cover__background {
  background-image: url(../../../images/cover_trains.jpg);
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 1184px;
  width: 92.5vw;
  margin: 0 auto;
  height: 82.2vh;
  position: relative;
}

.cover__background::before {
  content: " ";
  background-color: rgba(42, 44, 47, .3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1184px;
  width: 100%;
  transition: background-color .6s;
}

.cover__background:hover::before {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1024px) {
  .cover__background {
    width: 100vw;
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
  }
}

@media screen and (max-width: 390px) {
  .cover__background {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-width: 390px;
  }
}
