.lead__caption {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  margin: 0 auto;
  padding: 8px 0 0;
  width: 984px;

}

/*
@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}

*/

@media screen and (max-width: 1024px) {
  .lead__caption {
    max-width: 928px;
    width: 90.62vw;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    max-width: 720px;
    width: 93.75vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    max-width: 288px;
    width: 90vw;
  }
}
