.cover__title {
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  max-width: 560px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
}
