.place {
  margin: 0;
  padding: 80px 0 0;
  display: grid;
  gap: 0 40px;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, 1fr);
}

.place:first-of-type {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 47.42% 49.14%;
    column-gap: 3.44%;
  }
}

@media screen and (max-width: 886px) {
  .place {
    gap: 0 28px;
    padding-top: 73px;
    grid-template-columns: 47.22% 48.9%;
    column-gap: 3.88%;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 390px) {
  .place {
    padding-top: 50px;
  }
}
