.place__url-heading {
  color: #aaa;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 886px) {
  .place__url-heading {
    line-height: 1;
  }
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    padding: 32px 0 0;
  }
}

@media screen and (max-width: 390px) {
  .place__url-heading {
    padding: 32px 16px 0;
  }
}
